.modal-content { border: 0 !important }
.modal-open .container-fluid, .modal-open .container {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}