.dropdown-toggle.btn-link:after { content: none !important; }
.messages-list .bg-secondary { border-bottom-left-radius: 0px !important ; }
.messages-list .bg-primary { border-bottom-right-radius: 0px !important ; }